<h1> Super Awesome Pet App! </h1>


<h2> A list of Users </h2>

<app-list
  [dataItems]="users"
  [templateRef]="UserItemTemplateRef"
></app-list>


<!-- <h2> A list of Dishes </h2> -->

<!-- <app-list
  [dataItems]="dishes"
  [templateRef]="DishItemTemplateRef"
></app-list> -->
