<p>
  list works!
</p>

<div *ngFor="let item in _dataItems"
  *ngForTemplate="__templateRef"
  *ngOutletContext="{$implicit: _dataItems}"
>
</div>

<!-- {{_dataItems | json}} -->
<br>
<br>
<!-- {{_templateRef}} -->